.list-item,
.checkbox_Text {

    display: flex;
    align-items: center;
    width: 90%;

}

.list-item {
    width: 80%;
    background-color: #fefefe;
    margin: 1vh auto;
    justify-content: space-between;
    padding: 0 1vh;
    border-style: solid;
    border-color: rgb(66, 130, 248);
    border-radius: 10px;
}

.checkbox_Text p {
    text-overflow: ellipsis;
    font-size: 100%;
    overflow: hidden;
    font-weight: bold;


}

.archived {
    width: 90%;
    color: rgb(124, 124, 128);
    margin-Left: 1vh;
    text-overflow: ellipsis;
    font-size: 100%;
    overflow: hidden;
    font-weight: bold;

}


.starUnpinned {
    color: rgba(134, 133, 133, 0.5)
}

.starUnpinned:hover {
    color: rgb(0, 65, 77);
}

.starPinned {
    color: rgb(0, 65, 77);
}